{% extends 'layout.html' %}
{% block title %}{% endblock %}

{% block body %}


<!-- <p class="mt-4"><a href="/courses" class="btn btn-primary">See All Tutorials</a></p> -->

<div id="forms" class="mt-4">
    <form action="/search" method="get" class="form-inline">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Search within available Tutorials" name="q" id="course">
            <button type="submit" class="btn btn-info">Search</button>  
        </div>
        
    </form>
</div>
{% endblock %}